<div class="container">
    <mat-toolbar>
        <span>Alumno</span>
    
    </mat-toolbar>

    <mat-card class="mt">
        <mat-grid-list cols="2" rowHeight="400px">

            <mat-grid-tile>
                        <mat-card-footer class="list-item-btns" >
                        <button type="submit" mat-raised-button color="primary" style="margin-top:20px; margin-right:20px">
                            Salir del curso
                        </button> 
                        <button (click)="Btn()"mat-raised-button style="margin-top:20px; ">
                            Regresar
                        </button> 
                    </mat-card-footer>

            </mat-grid-tile>
        
        </mat-grid-list>

    </mat-card>

</div>