.añadir {
    color: white;
    background-color: rgb(236, 167, 202);
}
.error {
        color: rgb(245, 40, 40);
    }
    
    button {
    margin-top: 15px;
    }
    form {
        padding: 10px;

}