<!-- <div class="main">
    <hr/>
    <h3 class="mb-5">Nuevo Alumno</h3>
    <app-alumnos (addAlumno)="newAlumno($event)"></app-alumnos>
    <hr/>
    <app-alumnos [alumnos]= "alumnos" (onClickAlumno)="setearAlumnoAModificar($event)">
    </app-alumnos>
  </div>
  

  <div class="modal fade" id="editarAlumnoModal" tabindex="-1" aria-labelledby="editarAlumnoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="editarAlumnoModalLabel">Modificar Alumno
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          <app-editar-alumno #editarAlumnoModal (editAlumno)="modificarAlumno($event)" [alumno]="infoAlumno">
          </app-editar-alumno>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" #closeModal data-bs-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
   -->